:root {
    --hero-diagonal-offset: 4rem;
    --title-font: 'Ovo', serif;
    --body-font: 'Arvo', serif;
}

*:focus {
    outline-style: none;
    box-shadow: none !important;
    border-color: transparent;
}

html {
    overflow: hidden;
    height: 100%;
    background: linear-gradient(0deg, rgba(15,32,39,0.7), rgba(44,83,100,0.7)), url(/images/hc_backdrop_tessalating_small.png) center center, #000;;
    // -webkit-user-select: none; /* Chrome/Safari */        
    // -moz-user-select: none; /* Firefox */
    // -ms-user-select: none; /* IE10+ */
    // -o-user-select: none;
    // user-select: none;
    -webkit-tap-highlight-color:transparent;
    font-family: var(--body-font);
}

body {
    height: 100%;
    overflow: auto;
    background: transparent;
    overflow-x: hidden;
}

/** Sections **/

.section-diagonal, .section-diagonal-top, .section-diagonal-bottom {
    position: relative;
    background-color: transparent;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        // if bg = img
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .section_content {
        position: relative;
        z-index: 1;
    }
}

@supports (clip-path: inset(50%)) {
    .section-diagonal {
        margin-top: var(--hero-diagonal-offset);
        &::before {
            height: calc(100% + var(--hero-diagonal-offset)*2);
            top: calc(var(--hero-diagonal-offset) * -1);
            clip-path: polygon(0% var(--hero-diagonal-offset), 100% 0%, 100% calc(100% - var(--hero-diagonal-offset)), 0% 100%);
        }
    }

    .section-diagonal-top {
        margin-top: var(--hero-diagonal-offset);
        &::before {
            height: calc(100% + var(--hero-diagonal-offset));
            top: calc(var(--hero-diagonal-offset) * -1);
            clip-path: polygon(0% var(--hero-diagonal-offset), 100% 0%, 100% 100%, 0% 100%);
        }
    }

    .section-diagonal-bottom::before {
        height: calc(100% + var(--hero-diagonal-offset));
        top: 0;
        margin-top: calc(-1*var(--hero-diagonal-offset));
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--hero-diagonal-offset)), 0% 100%);
    }
}

#header-section, #footer-section {
    &::before {
        z-index: -2;
    }
    .container {
        min-height: 100px;
    }


}

.static-section {
    &::before {
        z-index: -2;
        background: #f8f8ff;
    }

    &.section-peach::before {
        background: #d9a7c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }

    &.section-ocean::before {
        background: #63b9c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ebfafd, #63b9c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ebfafd, #63b9c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
    }

    &.section-pink::before {
        background: #f7d7db;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fff2f4, #f7d7db);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fff2f4, #f7d7db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }

    &.section-paper::before {
        background: #fffae9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ECE9E6, #fffae9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ECE9E6, #fffae9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }

    &.section-floral::before {
        background: #a7d9c2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eeffdc, #a7d9c2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eeffdc, #a7d9c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }



    &.section-cam-bg::before {
        background-image: url(/images/frontpage-hackhall.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // background-attachment: fixed;
        // background-color: black;
    }

    &.section-speaker::before {
        background-image: url(/images/frontpage-speaker.jpg);
        background-repeat: no-repeat;
        background-position: center 30%;
        background-size: cover;
        // background-attachment: fixed;
        // background-color: black;
    }

    &.section-closeup::before {
        background-image: url(/images/frontpage-hacker-closeup.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // background-attachment: fixed;
        // background-color: black;
    }

    .container {
        min-height: calc(var(--hero-diagonal-offset));
    }

    .large-description {
        color: #3e3e3e;
        font-family: var(--title-font);   
        font-size: 1rem;
    }

    & .section-header {
        font-family: var(--body-font);
        text-align: center;
        margin-bottom: 1rem;
    }

    & .accordion-header {
        font-family: var(--body-font);
        font-size: 1rem;
        cursor: pointer;
    }

    & .faq-body {
        font-family: var(--title-font);
        font-size: 0.9rem;
        border-radius: 0.3rem;
        max-width: 100%;
        & .inner {
            padding: 0.6rem 1rem;
            background-color: white;
        }
    }
}

#background-particles {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#header-bottom-card {
    --card-horizontal-padding: 30px;
    --card-vertical-padding: 15px;
    --card-logo-width: 8rem;

    position: absolute;
    bottom: calc(-0.5*var(--hero-diagonal-offset) - 0.15*var(--card-logo-width) - 0rem - 2*var(--card-vertical-padding));
    left: 0;
    width: 100%;
    z-index: 3;

    #header-bottom-card-content {
        // Height: 2.07rem + 1rem + 2*var(--card-vertical-padding)
        background-color: #ffffff;
        text-align: center;
        max-width: 70%;
        width: calc(var(--card-logo-width) + 2*var(--card-horizontal-padding));
        margin: 0 auto;
        padding: var(--card-vertical-padding) var(--card-horizontal-padding);
        box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
        border-radius: 3px;

        img {
            width: var(--card-logo-width);
        }

        p {
            font-size: 0.6rem;
            margin-bottom: 0.4rem;
            font-weight: 700;
            line-height: 1rem;
            color: #0000009d;
            letter-spacing: 0.02rem;
        }
    }
}

/** End Sections **/


#header-logo {
    -webkit-animation: rotation 1.5s ease-out;
    animation: rotation 1.5s ease-out;
    width:200px;
}

#top-menu {
    font-family: var(--body-font);
    font-weight: 400;
    padding: 0.8rem;

    &.breadcrumb .breadcrumb-item:not(:first-child)::before {
        color: #bfc4c780;
        padding-right: 0.2rem;
    }

    li > a {
        text-decoration: none;
        color: #bfc4c7;
        font-family: 'Courier', sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        // margin-left: -0.25rem;
        line-height: 1rem;
        vertical-align: text-bottom;

        & > #logo {
            width: 1.8rem;
            height: 1.8rem;
            background-size: cover;
            margin: 0 -0.3rem -0.7rem 0;
            filter: invert(10%) opacity(0.8);
            display: inline-block;
            &:hover {
                opacity: 0.8;
            }
        }
        &:hover {
        //    color: #8b99af; 
            opacity: 0.8;
        }
        &:focus {
            border:none;
            outline: 0;
        }
    }
}

#intro-container {
    padding: 4rem 10px 2rem;

    & #top-logo {
        margin: -26px auto 0;
        width: 6rem;
        display: block;
        padding: 0 0 2rem 5px;
        max-width: 90%;
    }

    & #top-logo-solo {
        margin: -26px auto -1.5rem;
        width: 6rem;
        display: block;
        max-width: 90%;
        padding-left: 5px;
    }

    & #top-tagline {
        font-family: var(--body-font);
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: white;
        max-width:100%;
        padding: 10px;
        margin-top: -1rem;
    }

    & #top-logo-small {
        margin: 0 auto;
        width: 15rem;
        display: block;
        max-width: 90%;
        margin-top: -2rem;
    }
    
    & #intro-title {
        font-family: var(--body-font);
        font-weight: 700;
        text-align: center;
        color: white;
    }

    & #intro-description {
        font-family: var(--title-font);
        font-weight: 400;
        text-align: center;
        color: white;
        font-size: 1rem;
        
        & p {
            margin: 0;
        }

        & span.superscript {
            vertical-align: super;
            font-size: 0.6rem;
        }
    }
}

#copyright {
    color: #a9b4c6;
    font-family: 'Courier';
    text-align: right;
    font-size: 0.6rem;
    margin-top: -0.3rem;
}

.intro-subtitle {
    margin-top: 3rem;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

.apply-button {
    border-radius: 2px;
    padding: 5px 15px;
    background-color: transparent;
    border: black;
    border-width: 1px;
    border-style: solid;
    display: block;
    margin: 5px auto;
    transition: color 0.2s;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}

.env-banner {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 4px;
    color: white;
    font-weight: 700;
    font-size: 0.5rem;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

#register-button {
    width: 25rem;
    max-width: 90%;
    background-color: #ffffff75;
    padding: 0.75rem 1.5rem;
    border-color: #121212ba;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    animation: background-color 2s;
    cursor: pointer;
    display: block;
    margin: 2rem auto 0;

    &:hover {
        background-color: #ffffff; 
    }
}

.legal-text {
    text-align: center;
    font-family: var(--title-font);
    margin-top: 2rem;
}

.body-text {
    font-family: var(--title-font);
}

.title-text {
    font-family: var(--body-font);
    margin-top: 3rem;
}

/** Animations **/

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
	75% {
		background-position: 0% 100%;
    }
    100% {
		background-position: 0% 0%;
    }
}
@keyframes gradientBG {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
	75% {
		background-position: 0% 100%;
    }
    100% {
		background-position: 0% 0%;
    }
}

@keyframes rotation {
    0% {
        transform: rotate3d(5, 1, 0, 60deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate3d(5, 1, 0, 0deg);
        opacity: 1;
    }
}