:root {
    --hero-diagonal-offset: 4rem;
    --title-font: "Orbitron", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

*:focus {
    outline-style: none;
    box-shadow: none !important;
    border-color: transparent;
}

html {
    overflow: hidden;
    height: 100%;
    // background: linear-gradient(0deg, rgba(15, 32, 39, 0.7), rgba(44, 83, 100, 0.7)),
    // url(/images/hc_backdrop_tessalating_small.png) center center, #000;
    // -webkit-user-select: none; /* Chrome/Safari */
    // -moz-user-select: none; /* Firefox */
    // -ms-user-select: none; /* IE10+ */
    // -o-user-select: none;
    // user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--body-font);
}

body {
    height: 100%;
    overflow: auto;
    background: transparent;
    overflow-x: hidden;
}


/** Sections **/

.section-diagonal,
.section-diagonal-top,
.section-diagonal-bottom {
    position: relative;
    background-color: transparent;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        // if bg = img
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .section_content {
        position: relative;
        z-index: 1;
    }
}

@supports (clip-path: inset(50%)) {
    .section-diagonal {
        margin-top: var(--hero-diagonal-offset);
        &::before {
            height: calc(100% + var(--hero-diagonal-offset) * 2);
            top: calc(var(--hero-diagonal-offset) * -1);
            clip-path: polygon( 0% var(--hero-diagonal-offset), 100% 0%, 100% calc(100% - var(--hero-diagonal-offset)), 0% 100%);
        }
    }
    .section-diagonal-top {
        margin-top: var(--hero-diagonal-offset);
        &::before {
            height: calc(100% + var(--hero-diagonal-offset));
            top: calc(var(--hero-diagonal-offset) * -1);
            clip-path: polygon(0% var(--hero-diagonal-offset), 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .section-diagonal-bottom::before {
        height: calc(100% + var(--hero-diagonal-offset));
        top: 0;
        margin-top: calc(-1 * var(--hero-diagonal-offset));
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--hero-diagonal-offset)), 0% 100%);
    }
}

#header-section {
    height: 100vh;
}

#header-section,
#footer-section {
    &::before {
        z-index: -2;
    }
    .container {
        min-height: 100px;
    }
    border: solid none none none;
    .footer-element {
        font-family: var(--title-font);
        font-weight: 200;
        text-align: center;
        color: black;
        font-size: 1rem;
        padding-left: 15px;
    }
    .footer-element a {
        color: black;
    }
}

.section-orange {
    background-color: #ff7a62;
    margin-top: 1.9vh;
    padding-bottom: 25vh;
    min-height: 50vh;
    clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
    position: relative;
    .intro-text {
        margin-left: 10vw;
        width: 40%;
        text-align: justify;
        h1 {
            font-family: var(--title-font);
            font-size: 2.6rem;
        }
        font-size: 1.2rem;
        color: white;
    }
    #stamp-card {
        position: absolute;
        right: 10vw;
        top: 0;
        width: 20vw;
    }
    #stamp-card-content {
        background-color: white;
        border-radius: 5px;
        padding: 5px;
    }
    #stamp-card-content img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .prev-logos {
        width: 20%;
        min-width: 400px;
        position: absolute;
        top: 25vh;
        right: 10vw;
        bottom: 10vh;
        padding: 5vh;
        div {
            padding-bottom: 5px;
            height: 100%;
            width: 33%;
            display: inline-block;
        }
        #second-place {
            background-color: white;
            height: 45%;
            width: 100%;
        }
        #third-place {
            background-color: white;
            height: 30%;
            width: 100%;
        }
        #first-place {
            background-color: white;
            height: 70%;
            width: 100%;
        }
        button {
            background: none;
            border: none;
            width: 100%;
        }
        img {
            max-width: 100%;
            max-height: 30%;
        }
    }
}

.section-hex {
    color: black;
    background-color: white;
    // clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    margin-top: -20vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    .section-header {
        font-size: 2rem;
        padding-bottom: 2vh;
        width: 100%;
        text-align: center;
        font-family: var(--title-font);
    }
    div.columns {
        margin: auto;
        max-width: 1000px;
    }
}

.section-sponsors {
    .container {
        background-color: #3D82FF;
        padding: 3rem 30px 1.5rem;
        color: white;
        // clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
        // clip-path: polygon(100% 20%, 100% 100%, 50% 100%, 0 80%, 0 0);
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
        z-index: 2;
        position: relative;
        margin-top: -10vh;
    }
    padding-top: 10vh;
    padding-bottom: 20vh;
    position: relative;
    background-color: white;
    .footer-info {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 20%;
        .diagonal-line {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        .text-space {
            width: 50%;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            text-align: center;
        }
        .diagonal-text {
            display: inline-block;
            z-index: 1;
            background-color: white;
            color: black;
            margin: auto;
            padding-top: 4%;
            padding-bottom: 4%;
            padding-left: 8px;
            padding-right: 8px;
            // height: 30%;
            // width: 30%;
            min-height: 50px;
            min-width: 300px;
            font-family: var(--body-font);
        }
    }
    .section-header {
        font-family: var(--title-font);
        font-size: 2rem;
    }
    .advert {
        text-justify: center;
        width: 50%;
    }
    .hexagon-gallery {
        // max-width: 1000px;
        width: 120vw;
        display: grid;
        grid-template-columns: repeat(22, 1fr);
        // grid-auto-rows: min-content;
        grid-auto-rows: calc((120vw / 11 + 1rem)*0.75);
        grid-gap: 0px;
        margin-left: -11vw;
        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
        .hex {
            display: flex;
            position: relative;
            width: calc(120vw / 11);
            height: calc(120vw / 11 + 1rem);
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
        .hex:first-child {
            grid-row-start: 1;
            grid-column: 2 / span 2;
        }
        .hex:nth-child(2) {
            grid-row-start: 1;
            grid-column: 4 / span 2;
        }
        .hex:nth-child(3) {
            grid-row-start: 1;
            grid-column: 6 / span 2;
        }
        .hex:nth-child(4) {
            grid-row-start: 1;
            grid-column: 8 / span 2;
        }
        .hex:nth-child(5) {
            grid-row-start: 1;
            grid-column: 10 / span 2;
        }
        .hex:nth-child(6) {
            grid-row-start: 1;
            grid-column: 12 / span 2;
        }
        .hex:nth-child(7) {
            grid-row-start: 1;
            grid-column: 14 / span 2;
        }
        .hex:nth-child(8) {
            grid-row-start: 1;
            grid-column: 16 / span 2;
        }
        .hex:nth-child(9) {
            grid-row-start: 1;
            grid-column: 18 / span 2;
        }
        .hex:nth-child(10) {
            grid-row-start: 1;
            grid-column: 20 / span 2;
        }
        .hex:nth-child(11) {
            grid-row-start: 1;
            grid-column: 22 / span 2;
        }
        .hex:nth-child(12) {
            grid-row-start: 2;
            grid-column: 1 / span 2;
        }
        .hex:nth-child(13) {
            grid-row-start: 2;
            grid-column: 3 / span 2;
        }
        .hex:nth-child(14) {
            grid-row-start: 2;
            grid-column: 5 / span 2;
        }
        .hex:nth-child(15) {
            grid-row-start: 2;
            grid-column: 7 / span 2;
        }
        .hex:nth-child(16) {
            grid-row-start: 2;
            grid-column: 9 / span 2;
        }
        .hex:nth-child(17) {
            grid-row-start: 2;
            grid-column: 11 / span 2;
        }
        .hex:nth-child(18) {
            grid-row-start: 2;
            grid-column: 13 / span 2;
        }
        .hex:nth-child(19) {
            grid-row-start: 2;
            grid-column: 15 / span 2;
        }
        .hex:nth-child(20) {
            grid-row-start: 2;
            grid-column: 17 / span 2;
        }
        .hex:nth-child(21) {
            grid-row-start: 2;
            grid-column: 19 / span 2;
        }
        .hex:nth-child(22) {
            grid-row-start: 2;
            grid-column: 21 / span 2;
        }
    }
    .slideshow {
        margin-top: 10vh;
        margin-left: -30px;
        margin-right: -30px;
        width: 100vw;
        padding-bottom: 50vh;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }
    .slideshow>section {
        transform: translate3d(0, 0, 0);
    }
    .slideshow .hexagon-gallery {
        animation: moveSlideshow 6s linear infinite;
    }
    @keyframes moveSlideshow {
        100% {
            transform: translateX(-15vw);
        }
    }
    .mint-triangle {
        // clip-path: polygon(50% 100%, 100% 100%, 100% 0);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: #92FEE0;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 20%;
    }
}

.section-followus {
    background-color: white;
    color: black;
    margin-top: -5vh;
    .section-header {
        font-family: var(--title-font);
        font-size: 2rem;
    }
    .columns {
        width: 80%;
        margin: auto;
        div {
            margin: auto;
        }
        font-size: 1.5rem;
    }
    .fab {
        color: black;
        font-size: 2.3rem;
    }
}

.section-team {
    color: white;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    background: rgb(255, 122, 98);
    background: linear-gradient(45deg, rgba(255, 122, 98, 1) 0%, rgba(211, 104, 182, 1) 100%);
    padding-top: 8vh;
    .section-header {
        font-family: var(--title-font);
        font-size: 2.4rem;
        width: 100%;
        text-align: center;
    }
    .section-subheader {
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
    }
    .hex-people {
        .hexagon-gallery {
            margin: auto;
            margin-top: 50px;
            max-width: 1000px;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-auto-rows: 200px;
            grid-gap: 14px;
            padding-bottom: 50px;
            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }
        .hex {
            display: flex;
            position: relative;
            width: 12rem;
            height: 13rem;
            background: linear-gradient(45deg, rgba(146, 254, 224, 1) 0%, rgba(61, 130, 255, 1) 100%);
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            div {
                visibility: hidden;
                color: white;
                font-family: -var(--body-font);
                h1 {
                    font-size: 2rem;
                }
                h2 {
                    font-size: 1.3rem;
                }
                font-weight: bold;
                margin: auto;
                position: absolute;
                bottom: 2rem;
                text-align: center;
                width: 100%;
                padding: 5px;
            }
        }
        .hex:hover {
            img {
                visibility: hidden;
            }
            div {
                visibility: visible;
            }
        }
        .hex:first-child {
            grid-row-start: 1;
            grid-column: 2 / span 2;
        }
        .hex:nth-child(2) {
            grid-row-start: 1;
            grid-column: 4 / span 2;
        }
        .hex:nth-child(3) {
            grid-row-start: 1;
            grid-column: 6 / span 2;
        }
        .hex:nth-child(4) {
            grid-row-start: 2;
            grid-column: 1 / span 2;
        }
        .hex:nth-child(5) {
            grid-row-start: 2;
            grid-column: 3 / span 2;
        }
        .hex:nth-child(6) {
            grid-row-start: 2;
            grid-column: 5 / span 2;
        }
        .hex:nth-child(7) {
            grid-row-start: 2;
            grid-column: 7 / span 2;
        }
        .hex:nth-child(8) {
            grid-row-start: 3;
            grid-column: 2 / span 2;
        }
        .hex:nth-child(9) {
            grid-row-start: 3;
            grid-column: 4 / span 2;
        }
        .hex:nth-child(10) {
            grid-row-start: 3;
            grid-column: 6 / span 2;
        }
    }
}

.static-section {
    &::before {
        z-index: -2;
        background: #f8f8ff;
    }
    &.section-peach::before {
        background: #d9a7c7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient( to right, #fffcdc, #d9a7c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }
    &.section-ocean::before {
        background: #63b9c7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ebfafd, #63b9c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient( to right, #ebfafd, #63b9c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
    }
    &.section-pink::before {
        background: #f7d7db;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fff2f4, #f7d7db);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient( to right, #fff2f4, #f7d7db);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }
    &.section-paper::before {
        background: #fffae9;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ece9e6, #fffae9);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient( to right, #ece9e6, #fffae9);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }
    &.section-floral::before {
        background: #a7d9c2;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eeffdc, #a7d9c2);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient( to right, #eeffdc, #a7d9c2);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }
    &.section-cam-bg::before {
        background-image: url(/images/frontpage-hackhall.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // background-attachment: fixed;
        // background-color: black;
    }
    &.section-speaker::before {
        background-image: url(/images/frontpage-speaker.jpg);
        background-repeat: no-repeat;
        background-position: center 30%;
        background-size: cover;
        // background-attachment: fixed;
        // background-color: black;
    }
    &.section-closeup::before {
        background-image: url(/images/frontpage-hacker-closeup.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // background-attachment: fixed;
        // background-color: black;
    }
    .container {
        min-height: calc(var(--hero-diagonal-offset));
    }
    .large-description {
        color: #3e3e3e;
        font-family: var(--title-font);
        font-size: 1rem;
    }
    & .section-header {
        font-family: var(--body-font);
        text-align: center;
        margin-bottom: 1rem;
    }
    & .accordion-header {
        font-family: var(--body-font);
        font-size: 1rem;
        cursor: pointer;
    }
    & .faq-body {
        font-family: var(--title-font);
        font-size: 0.9rem;
        border-radius: 0.3rem;
        max-width: 100%;
        & .inner {
            padding: 0.6rem 1rem;
            background-color: white;
        }
    }
}

#background-particles {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#header-bottom-card {
    --card-horizontal-padding: 30px;
    --card-vertical-padding: 15px;
    --card-logo-width: 8rem;
    position: absolute;
    bottom: calc( -0.5 * var(--hero-diagonal-offset) - 0.15 * var(--card-logo-width) - 0rem - 2 * var(--card-vertical-padding));
    left: 0;
    width: 100%;
    z-index: 3;
    #header-bottom-card-content {
        // Height: 2.07rem + 1rem + 2*var(--card-vertical-padding)
        background-color: #ffffff;
        text-align: center;
        max-width: 70%;
        width: calc(var(--card-logo-width) + 2 * var(--card-horizontal-padding));
        margin: 0 auto;
        padding: var(--card-vertical-padding) var(--card-horizontal-padding);
        box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        img {
            width: var(--card-logo-width);
        }
        p {
            font-size: 0.6rem;
            margin-bottom: 0.4rem;
            font-weight: 700;
            line-height: 1rem;
            color: #0000009d;
            letter-spacing: 0.02rem;
        }
    }
}


/** End Sections **/

#header-logo {
    -webkit-animation: rotation 1.5s ease-out;
    animation: rotation 1.5s ease-out;
    width: 200px;
}

#top-menu {
    font-family: var(--title-font);
    font-weight: 400;
    padding: 0.8rem;
    margin-right: 110px;
    section>a {
        text-decoration: none;
        color: black;
        height: 100%;
        vertical-align: middle;
        // display: inline-block;
        &>#logo {
            width: 4rem;
            height: 4rem;
            background-size: cover;
            margin: 0 -0.3rem -0.7rem 0;
            display: inline-block;
            &:hover {
                opacity: 0.8;
            }
        }
        &.navbar-brand {
            font-size: 1.3rem;
            position: relative;
            top: -25%;
        }
        &.options {
            position: relative;
            top: 40%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        &:hover {
            //    color: #8b99af;
            text-decoration: underline;
            opacity: 0.8;
        }
        &:focus {
            border: none;
            outline: 0;
        }
    }
}

#intro-container {
    padding: 4rem 10px 2rem;
    & #top-logo {
        position: absolute;
        top: 3vh;
        right: -500px;
        z-index: -2;
        opacity: 0.8;
        max-width: 1600px;
    }
    & #green-hexagon {
        position: absolute;
        top: 47vh;
        right: -190px;
        width: 70vmin;
        height: 50vmin;
        max-width: 1200px;
        background-color: #92fee0;
        opacity: 0.3;
        z-index: -6;
    }
    & #green-hexagon:before {
        bottom: 100%;
        border-bottom: 20vmin solid #92fee0;
    }
    & #green-hexagon:after {
        top: 100%;
        border-top: 20vmin solid #92fee0;
    }
    & #green-hexagon:before,
    #green-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 35vmin solid transparent;
        border-right: 35vmin solid transparent;
    }
    & #blue-hexagon {
        position: absolute;
        top: 87vh;
        right: -450px;
        width: 150vmin;
        height: 50vmin;
        min-width: 1000px;
        max-width: 1800px;
        background-color: #3d82ff;
        opacity: 0.2;
        z-index: -4;
    }
    & #blue-hexagon:before {
        bottom: 100%;
        border-bottom: 40vmin solid #3d82ff;
    }
    & #blue-hexagon:after {
        top: 100%;
        border-top: 40vmin solid #3d82ff;
    }
    & #blue-hexagon:before,
    #blue-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 75vmin solid transparent;
        border-right: 75vmin solid transparent;
    }
    & #red-hexagon {
        position: absolute;
        top: 78vh;
        left: -540px;
        width: 200vmin;
        height: 50vmin;
        min-width: 1000px;
        max-width: 1800px;
        background-color: #d368b6;
        opacity: 0.2;
        z-index: -5;
    }
    & #red-hexagon:before {
        bottom: 100%;
        border-bottom: 50vmin solid #d368b6;
    }
    & #red-hexagon:after {
        top: 100%;
        border-top: 50vmin solid #d368b6;
    }
    & #red-hexagon:before,
    #red-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 100vmin solid transparent;
        border-right: 100vmin solid transparent;
    }
    & #orange-hexagon {
        position: absolute;
        top: 95vh;
        left: -250px;
        width: 120vmin;
        height: 60vmin;
        // min-width: 1000px;
        // max-width: 1800px;
        background-color: #ff7a62;
        opacity: 0.3;
        z-index: -3;
    }
    & #orange-hexagon:before {
        bottom: 100%;
        border-bottom: 30vmin solid #ff7a62;
    }
    & #orange-hexagon:after {
        top: 100%;
        border-top: 30vmin solid #ff7a62;
    }
    & #orange-hexagon:before,
    #orange-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 60vmin solid transparent;
        border-right: 60vmin solid transparent;
    }
    & #blue-triangle {
        position: absolute;
        left: 0;
        top: 77vh;
        height: 25vh;
        width: 100vw;
        background-color: #3D82FF;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
        z-index: -2;
    }
    & #orange-triangle {
        position: absolute;
        right: 0;
        top: 77vh;
        height: 25vh;
        width: 100vw;
        background-color: #ff7a62;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        z-index: -1;
    }
    & .btn.btn-primary {
        background-color: #3D82FF;
        border-color: #3D82FF;
        border-radius: 7px;
    }
    & #top-logo-solo {
        margin: -26px auto -1.5rem;
        width: 6rem;
        display: block;
        max-width: 90%;
        padding-left: 5px;
    }
    & #top-tagline {
        font-family: var(--title-font);
        font-size: 3rem;
        font-weight: 900;
        text-align: left;
        color: black;
        max-width: 100%;
        padding-left: 15px;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    & #top-logo-small {
        margin: 0 auto;
        width: 15rem;
        display: block;
        max-width: 90%;
        margin-top: -2rem;
    }
    & #intro-title {
        font-family: var(--title-font);
        font-weight: 700;
        text-align: center;
        color: black;
    }
    & #intro-description {
        font-family: var(--title-font);
        font-weight: 400;
        text-align: left;
        color: black;
        font-size: 1rem;
        padding-left: 15px;
        & p {
            margin-bottom: 1rem;
        }
        & .description {
            width: 30%;
        }
        & span.superscript {
            vertical-align: super;
            font-size: 0.6rem;
        }
        & #cohost-logo {
            width: 8rem;
            margin: 2rem 0 0.5rem;
        }
        & .normal-text {
            font-family: var(--body-font);
        }
    }
}

#copyright {
    color: #a9b4c6;
    font-family: "Courier";
    text-align: right;
    font-size: 0.6rem;
    margin-top: -0.3rem;
    padding: 0.8rem;
}

.intro-subtitle {
    margin-top: 3rem;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

.apply-button {
    border-radius: 2px;
    padding: 5px 15px;
    background-color: transparent;
    border: black;
    border-width: 1px;
    border-style: solid;
    display: block;
    margin: 5px auto;
    transition: color 0.2s;
    transition: background-color 0.2s;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
}

.env-banner {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 4px;
    color: white;
    font-weight: 700;
    font-size: 0.5rem;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

#register-button {
    width: 25rem;
    max-width: 90%;
    background-color: #ffffff75;
    padding: 0.75rem 1.5rem;
    border-color: #121212ba;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    animation: background-color 2s;
    cursor: pointer;
    display: block;
    margin: 2rem auto 0;
    &:hover {
        background-color: #ffffff;
    }
}

.legal-text {
    text-align: center;
    font-family: var(--title-font);
    margin-top: 2rem;
}

.body-text {
    font-family: var(--title-font);
}

.title-text {
    font-family: var(--body-font);
    margin-top: 3rem;
}

.sponsor-tier-title {
    font-family: var(--title-font);
    text-align: center;
    margin-top: 2rem;
}

.sponsors-container {
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: center;
    .item {
        max-height: 200px;
        padding: 0.5rem 1rem;
        display: inline-block;
        @media screen and (min-width: 800px) {
            width: 33%;
        }
        @media screen and (min-width: 600px) and (max-width: 800px) {
            width: 33%;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        div,
        span,
        p,
        img {
            max-width: 100%;
            max-height: 3rem;
            border-radius: 2px;
            margin-bottom: 1rem;
            vertical-align: middle;
        }
    }
}


/** Animations **/

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes rotation {
    0% {
        transform: rotate3d(5, 1, 0, 60deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate3d(5, 1, 0, 0deg);
        opacity: 1;
    }
}