:root {
    --hero-diagonal-offset: 4rem;
    --title-font: "Orbitron", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

*:focus {
    outline-style: none;
    box-shadow: none !important;
    border-color: transparent;
}

html {
    overflow: hidden;
    height: 100%;
    // background: linear-gradient(0deg, rgba(15, 32, 39, 0.7), rgba(44, 83, 100, 0.7)),
    // url(/images/hc_backdrop_tessalating_small.png) center center, #000;
    // -webkit-user-select: none; /* Chrome/Safari */
    // -moz-user-select: none; /* Firefox */
    // -ms-user-select: none; /* IE10+ */
    // -o-user-select: none;
    // user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--body-font);
}

body {
    height: 100%;
    overflow: auto;
    background: transparent;
    overflow-x: hidden;
}


/** Sections **/

@supports (clip-path: inset(50%)) {
    .section-diagonal {
        margin-top: var(--hero-diagonal-offset);
        &::before {
            height: calc(100% + var(--hero-diagonal-offset) * 2);
            top: calc(var(--hero-diagonal-offset) * -1);
            clip-path: polygon( 0% var(--hero-diagonal-offset), 100% 0%, 100% calc(100% - var(--hero-diagonal-offset)), 0% 100%);
        }
    }
    .section-diagonal-top {
        margin-top: var(--hero-diagonal-offset);
        &::before {
            height: calc(100% + var(--hero-diagonal-offset));
            top: calc(var(--hero-diagonal-offset) * -1);
            clip-path: polygon(0% var(--hero-diagonal-offset), 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .section-diagonal-bottom::before {
        height: calc(100% + var(--hero-diagonal-offset));
        top: 0;
        margin-top: calc(-1 * var(--hero-diagonal-offset));
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--hero-diagonal-offset)), 0% 100%);
    }
}

#header-section,
#footer-section {
    &::before {
        z-index: -2;
    }
    border: solid none none none;
    background-color: rgb(255, 255, 255, 0.85);
    .footer-element {
        font-family: var(--title-font);
        font-weight: 200;
        text-align: center;
        color: black;
        font-size: 1rem;
        padding-left: 15px;
    }
    .footer-element a {
        color: black;
    }
}

#footer-section {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.section-landing {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 4rem 10px 2rem;
    & #top-logo {
        position: absolute;
        top: 3vh;
        right: -500px;
        z-index: -2;
        opacity: 0.8;
        max-width: 1600px;
    }
    & #green-hexagon {
        position: absolute;
        top: 47vh;
        right: -190px;
        width: 70vmin;
        height: 50vmin;
        max-width: 1200px;
        background-color: #92fee0;
        opacity: 0.3;
        z-index: -6;
    }
    & #green-hexagon:before {
        bottom: 100%;
        border-bottom: 20vmin solid #92fee0;
    }
    & #green-hexagon:after {
        top: 100%;
        border-top: 20vmin solid #92fee0;
    }
    & #green-hexagon:before,
    #green-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 35vmin solid transparent;
        border-right: 35vmin solid transparent;
    }
    & #blue-hexagon {
        position: absolute;
        top: 87vh;
        right: -450px;
        width: 150vmin;
        height: 50vmin;
        min-width: 1000px;
        max-width: 1800px;
        background-color: #3d82ff;
        opacity: 0.2;
        z-index: -4;
    }
    & #blue-hexagon:before {
        bottom: 100%;
        border-bottom: 40vmin solid #3d82ff;
    }
    & #blue-hexagon:after {
        top: 100%;
        border-top: 40vmin solid #3d82ff;
    }
    & #blue-hexagon:before,
    #blue-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 75vmin solid transparent;
        border-right: 75vmin solid transparent;
    }
    & #red-hexagon {
        position: absolute;
        top: 78vh;
        left: -540px;
        width: 200vmin;
        height: 50vmin;
        min-width: 1000px;
        max-width: 1800px;
        background-color: #d368b6;
        opacity: 0.2;
        z-index: -5;
    }
    & #red-hexagon:before {
        bottom: 100%;
        border-bottom: 50vmin solid #d368b6;
    }
    & #red-hexagon:after {
        top: 100%;
        border-top: 50vmin solid #d368b6;
    }
    & #red-hexagon:before,
    #red-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 100vmin solid transparent;
        border-right: 100vmin solid transparent;
    }
    & #orange-hexagon {
        position: absolute;
        top: 95vh;
        left: -250px;
        width: 120vmin;
        height: 60vmin;
        background-color: #ff7a62;
        opacity: 0.3;
        z-index: -3;
    }
    & #orange-hexagon:before {
        bottom: 100%;
        border-bottom: 30vmin solid #ff7a62;
    }
    & #orange-hexagon:after {
        top: 100%;
        border-top: 30vmin solid #ff7a62;
    }
    & #orange-hexagon:before,
    #orange-hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 60vmin solid transparent;
        border-right: 60vmin solid transparent;
    }
    & #blue-triangle {
        position: absolute;
        left: 0;
        top: 80vh;
        height: 20vh;
        width: 100vw;
        background-color: #3D82FF;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
        z-index: -2;
    }
    & #orange-triangle {
        position: absolute;
        right: 0;
        top: 80vh;
        height: 20vh;
        width: 100vw;
        background-color: #ff7a62;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        z-index: -1;
    }
    & .btn.btn-primary {
        background-color: #3D82FF;
        border-color: #3D82FF;
        border-radius: 7px;
    }
    & .btn.btn-lg {
        font-size: 1.2rem;
        height: 3rem;
        padding: .5rem 0.75rem; 
    }
    & #top-logo-solo {
        margin: -26px auto -1.5rem;
        width: 6rem;
        display: block;
        max-width: 90%;
        padding-left: 5px;
    }
    & #top-tagline {
        font-family: var(--title-font);
        font-size: 3rem;
        font-weight: 900;
        text-align: left;
        color: black;
        max-width: 100%;
        padding-left: 15px;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    & #top-logo-small {
        margin: 0 auto;
        width: 15rem;
        display: block;
        max-width: 90%;
        margin-top: -2rem;
    }
    & #intro-title {
        font-family: var(--title-font);
        font-weight: 700;
        text-align: center;
        color: black;
    }
    & #intro-description {
        font-family: var(--title-font);
        font-weight: 400;
        text-align: left;
        color: black;
        font-size: 1rem;
        padding-left: 15px;
        & p {
            margin-bottom: 1rem;
            max-width: 60%;
        }
        & .description {
            width: 40%;
        }
        & span.superscript {
            vertical-align: super;
            font-size: 0.6rem;
        }
        & #cohost-logo {
            width: 8rem;
            margin: 2rem 0 0.5rem;
        }
        & .normal-text {
            font-family: var(--body-font);
        }
    }
    @media only screen and (max-width: 1000px) {
        & #top-logo {
            opacity: 0.4;
        }
    }
    @media only screen and (max-width: 800px) {
        & #top-tagline {
            font-size: 2.5rem;
        }
        & #intro-description {
            .description {
                display: none;
            }
        }
        & #blue-hexagon,
        #green-hexagon,
        #orange-hexagon {
            display: none;
        }
    }
    @media only screen and (max-height: 600px) {
        #intro-description {
            .btn {
                display: none;
            }
        }
    }
}

.section-orange {
    background-color: #ff7a62;
    margin-top: 1.9vh;
    padding-top: 25vmin;
    padding-bottom: 25vh;
    min-height: 50vh;
    clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 20%);
    position: relative;
    .intro-text {
        margin-left: 10vw;
        width: 40%;
        text-align: justify;
        h1 {
            font-family: var(--title-font);
            font-size: 2.4rem;
        }
        font-size: 1rem;
        color: white;
    }
    #stamp-card {
        position: absolute;
        right: 10vw;
        top: 15vh;
        width: 30%;
        max-width: 400px;
    }
    #stamp-card-content {
        border-radius: 5px;
        padding: 5px;
    }
    #stamp-card-content img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    .prev-logos {
        width: 30%;
        max-width: 500px;
        max-height: 400px;
        padding-bottom: 15vmin;
        position: absolute;
        top: 40vh;
        right: 6vw;
        bottom: 15vh;
        padding: 5vh;
        div {
            padding-bottom: 5px;
            height: 100%;
            width: 33%;
            display: inline-block;
        }
        #second-place {
            background-color: white;
            height: 45%;
            width: 100%;
        }
        #third-place {
            background-color: white;
            height: 30%;
            width: 100%;
        }
        #first-place {
            background-color: white;
            height: 70%;
            width: 100%;
        }
        button {
            background: none;
            border: none;
            width: 100%;
        }
        img {
            max-width: 100%;
            max-height: 30%;
        }
    }
    @media only screen and (max-width: 800px) {
        clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 10%);
        #stamp-card,
        .prev-logos {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        #stamp-card {
            padding-top: 0.5rem;
            padding-bottom: 2rem;
        }
        .prev-logos {
            height: 40vh;
            min-height: 300px;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-bottom: 15vmin;
        }
        .intro-text {
            h1 {
                font-size: 2rem;
            }
            font-size: 0.8rem;
            width: 100%;
            margin:0;
            padding: 1rem;
        }
    }
}

.section-hex {
    color: black;
    background-color: rgb(255, 255, 255, 0.85);
    margin-top: -30vh;
    padding-top: 20vh;
    margin-bottom: 10vh;
    .section-header {
        font-size: 2rem;
        padding-bottom: 2vh;
        width: 100%;
        text-align: center;
        font-family: var(--title-font);
    }
    div.columns {
        margin: auto;
        max-width: 1000px;
    }
    .faq-body {
        padding: 5px;
    }
    @media only screen and (max-width: 800px) {
        .inner {
            font-size: 0.8rem;
        }
    }
}

.section-sponsors {
    .container {
        background-color: #3D82FF;
        padding: 3rem 30px 1.5rem;
        color: white;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        z-index: 2;
        position: relative;
        margin-top: -10vmin;
        padding-top: 15vmin;
        padding-bottom: 20vh;
    }
    position: relative;
    background-color: rgb(255, 255, 255, 0.85);
    .footer-info {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 10%;
        .diagonal-line {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        .text-space {
            width: 50%;
            position: absolute;
            right: 0;
            top: 0;
            height: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .diagonal-text {
            display: inline-block;
            z-index: 1;
            color: black;
            margin: auto;
            padding-top: 4%;
            padding-bottom: 4%;
            padding-left: 8px;
            padding-right: 8px;
            min-height: 50px;
            font-family: var(--body-font);
            background-color: rgb(255, 255, 255, 0.85);
        }
        .full-email {
            display: inline;
        }
        .short-email {
            display: none;
        }
    }
    .section-header {
        font-family: var(--title-font);
        font-size: 2rem;
    }
    .advert {
        font-size: 1rem;
        text-justify: center;
        width: 50%;
        font-style: italic;
    }
    .sponsor-pane:last-child {
        padding-bottom: 8%;
    }
    .sponsor-pane {
        text-align: center;
        width: 100%;
        padding: 5px;
        h1 {
            font-family: var(--title-font);
            font-size: 2rem;
        }
        .hexagon-gallery {
            display: inline-grid;
            grid-gap: 1rem;
            padding-bottom: 5vh;
            img {
                padding: 10%;
                width: 100%;
                height: auto;
                display: block;
                object-fit: contain;
            }
            .hex {
                display: flex;
                position: relative;
                width: 25vmin;
                height: 27vmin;
                -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                background-color: white;
                grid-row-start: 1;
                min-width: 200px;
                min-height: 220px;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .cohost-sponsor.sponsor-pane {
        .hex {
            width: 30vmin;
            height: 32vmin;
        }
    }
    .tera-sponsor.sponsor-pane {
        .hex {
            width: 28vmin;
            height: 30vmin;
        }
    }
    .giga-sponsor.sponsor-pane {
        .hex {
            width: 26vmin;
            height: 27.5vmin;
        }
    }
    .mint-triangle {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: #92FEE0;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 10%;
    }
    @media only screen and (max-width: 800px) {
        .container {
            clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
        }
        .advert {
            width: 100%;
        }
        .footer-info {
            height: 3%;
            .full-email {
                display: none;
            }
            .short-email {
                display: inline;
            }
        }
        .mint-triangle {
            height: 3%;
        }
        .cohost-sponsor.sponsor-pane,
        .tera-sponsor.sponsor-pane,
        .giga-sponsor.sponsor-pane,
        .mega-sponsor.sponsor-pane,
        .kilo-sponsor.sponsor-pane,
        .partner-sponsor.sponsor-pane {
            .hex:nth-child(2) {
                grid-row-start: 2;
            }
            .hex:nth-child(3) {
                grid-row-start: 3;
            }
            .hex:nth-child(4) {
                grid-row-start: 4;
            }
            .hex:nth-child(5) {
                grid-row-start: 5;
            }
            .hex:nth-child(6) {
                grid-row-start: 6;
            }
        }
    }
}

.section-followus {
    background-color: rgb(255, 255, 255, 0.85);
    color: black;
    .section-header {
        font-family: var(--title-font);
        font-size: 2rem;
    }
    .columns {
        width: 80%;
        margin: auto;
        div {
            margin: auto;
        }
        font-size: 1.5rem;
    }
    .fab {
        color: black;
        font-size: 2.3rem;
    }
    a:link,
    a:hover,
    a:visited,
    a:active {
        color: black;
        text-decoration: none;
    }
    @media only screen and (max-width: 800px) {
        .text-at {
            display: none;
        }
    }
}

.section-team {
    color: white;
    background-color: rgb(255, 255, 255, 0.85);
    .container {
        padding-top: 10vmin;
        padding-bottom: 8vh;
        clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
        background: linear-gradient(45deg, rgba(255, 122, 98, 1) 0%, rgba(211, 104, 182, 1) 100%);
    }
    .section-header {
        font-family: var(--title-font);
        font-size: 2.4rem;
        width: 100%;
        text-align: center;
    }
    .section-subheader {
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
    }
    .hex-people {
        text-align: center;
        .hexagon-gallery {
            margin: auto;
            margin-top: 50px;
            max-width: 1200px;
            display: inline-grid;
            grid-template-columns: repeat(8, 1fr);
            grid-auto-rows: 195px;
            grid-gap: 14px;
            padding-bottom: 50px;
            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }
        .hex {
            display: flex;
            position: relative;
            width: 12rem;
            height: 13rem;
            background: linear-gradient(45deg, rgba(146, 254, 224, 1) 0%, rgba(61, 130, 255, 1) 100%);
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            div {
                visibility: hidden;
                color: white;
                font-family: -var(--body-font);
                h1 {
                    font-size: 1.7em;
                }
                h2 {
                    font-size: 1.4em;
                }
                font-weight: bold;
                margin: auto;
                position: absolute;
                bottom: 2.2rem;
                text-align: center;
                padding: 7px;
            }
        }
        .hex:hover {
            img {
                visibility: hidden;
            }
            div {
                visibility: visible;
            }
            align-items: center;
            justify-content: center;
        }
        .hex:first-child {
            grid-row-start: 1;
            grid-column: 2 / span 2;
        }
        .hex:nth-child(2) {
            grid-row-start: 1;
            grid-column: 4 / span 2;
        }
        .hex:nth-child(3) {
            grid-row-start: 1;
            grid-column: 6 / span 2;
        }
        .hex:nth-child(4) {
            grid-row-start: 2;
            grid-column: 1 / span 2;
        }
        .hex:nth-child(5) {
            grid-row-start: 2;
            grid-column: 3 / span 2;
        }
        .hex:nth-child(6) {
            grid-row-start: 2;
            grid-column: 5 / span 2;
        }
        .hex:nth-child(7) {
            grid-row-start: 2;
            grid-column: 7 / span 2;
        }
        .hex:nth-child(8) {
            grid-row-start: 3;
            grid-column: 2 / span 2;
        }
        .hex:nth-child(9) {
            grid-row-start: 3;
            grid-column: 4 / span 2;
        }
        .hex:nth-child(10) {
            grid-row-start: 3;
            grid-column: 6 / span 2;
        }
    }
    @media only screen and (max-width: 1600px) {
        .container {
            padding-top: 12vh;
        }
    }
    @media only screen and (max-width: 1200px) {
        .container {
            padding-top: 16vh;
        }
    }
    @media only screen and (max-width: 800px) {
        .container {
            padding-top: 24vh;
        }
        .container {
            clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0% 5%);
            padding-top: 25%;
        }
        .hex-people {
            .hexagon-gallery {
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 0;
            }
            .hex:nth-child(1) {
                grid-row-start: 1;
                grid-column: 1 / span 2;
            }
            .hex:nth-child(2) {
                grid-row-start: 1;
                grid-column: 3 / span 2;
            }
            .hex:nth-child(3) {
                grid-row-start: 1;
                grid-column: 5 / span 2;
            }
            .hex:nth-child(4) {
                grid-row-start: 2;
                grid-column: 2 / span 2;
            }
            .hex:nth-child(5) {
                grid-row-start: 2;
                grid-column: 4 / span 2;
            }
            .hex:nth-child(6) {
                grid-row-start: 3;
                grid-column: 1 / span 2;
            }
            .hex:nth-child(7) {
                grid-row-start: 3;
                grid-column: 3 / span 2;
            }
            .hex:nth-child(8) {
                grid-row-start: 3;
                grid-column: 5 / span 2;
            }
            .hex:nth-child(9) {
                grid-row-start: 4;
                grid-column: 2 / span 2;
            }
            .hex:nth-child(10) {
                grid-row-start: 4;
                grid-column: 4 / span 2;
            }
        }
    }
    @media only screen and (max-width: 700px) {
        .section-header {
            font-size: 2rem;
        }
        .section-subheader {
            display: none;
        }
        .hex-people {
            text-align: center;
            .hexagon-gallery {
                display: inline-grid;
                grid-template-columns: repeat(1, 1fr);
                grid-auto-rows: max-content;
                grid-gap: 0;
            }
            .hex:nth-child(2) {
                grid-row-start: 1;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(1) {
                grid-row-start: 2;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(3) {
                grid-row-start: 3;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(4) {
                grid-row-start: 4;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(5) {
                grid-row-start: 5;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(6) {
                grid-row-start: 6;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(7) {
                grid-row-start: 7;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(8) {
                grid-row-start: 8;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(9) {
                grid-row-start: 9;
                grid-column: 1 / span 8;
            }
            .hex:nth-child(10) {
                grid-row-start: 10;
                grid-column: 1 / span 8;
            }
        }
    }
}

.section-conduct {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #FF7A62;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
    .section-header {
        width: 100%;
        text-align: center;
        font-family: var(--title-font);
        padding-bottom: 2rem;
    }
    font-family: var(--body-font);
    a:visited,
    a:hover,
    a:link,
    a:active {
        color: white;
        text-decoration: underline;
    }
    @media only screen and (max-width: 900px) {
        margin: 0;
        clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%);
        padding-bottom: 25vmin;
    }
    @media only screen and (max-width: 800px) {
        clip-path: polygon(50% 0, 100% 3%, 100% 97%, 50% 100%, 0 97%, 0 3%);
    }
    @media only screen and (max-width: 600px) {
        clip-path: polygon(50% 0, 100% 2%, 100% 98%, 50% 100%, 0 98%, 0 2%);
    }
}

.section-privacy {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #3D82FF;
    color: white;
    padding-top: 5%;
    padding-bottom: 10%;
    clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
    .section-header {
        width: 100%;
        text-align: center;
        font-family: var(--title-font);
        padding-bottom: 2rem;
    }
    font-family: var(--body-font);
    a:visited,
    a:hover,
    a:link,
    a:active {
        color: white;
        text-decoration: underline;
    }
    @media only screen and (max-width: 1200px) {
        margin: 0;
        clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%);
        padding-bottom: 25vmin;
    }
    @media only screen and (max-width: 800px) {
        clip-path: polygon(50% 0, 100% 3%, 100% 97%, 50% 100%, 0 97%, 0 3%);
    }
    @media only screen and (max-width: 600px) {
        clip-path: polygon(50% 0, 100% 2%, 100% 98%, 50% 100%, 0 98%, 0 2%);
    }
}

.section-terms {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #92FEE0;
    color: black;
    padding-top: 5%;
    padding-bottom: 10%;
    clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
    .section-header {
        width: 100%;
        text-align: center;
        font-family: var(--title-font);
        padding-bottom: 2rem;
    }
    font-family: var(--body-font);
    @media only screen and (max-width: 1200px) {
        margin: 0;
        clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%);
        padding-bottom: 25vmin;
    }
    @media only screen and (max-width: 800px) {
        clip-path: polygon(50% 0, 100% 3%, 100% 97%, 50% 100%, 0 97%, 0 3%);
    }
    @media only screen and (max-width: 600px) {
        clip-path: polygon(50% 0, 100% 2%, 100% 98%, 50% 100%, 0 98%, 0 2%);
    }
}

.section-apply {
    clip-path: polygon(50% 0, 100% 27%, 100% 76%, 50% 100%, 0 76%, 0 27%);
    background: #3D82FF;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    #register-button {
        max-width: 30%;
        max-height: 30%;
        min-width: 200px;
        background-color: transparent;
        border: none;
    }
    #register-button:hover {
        background-color: transparent;
    }
    a:link,
    a:hover,
    a:visited,
    a:active {
        color: white;
    }
    @media only screen and (max-width: 900px) {
        clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
        margin-left: 0;
        margin-right: 0;
        padding-top: 15vh;
        padding-bottom: 17vh;
    }
}

#background-particles {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#header-bottom-card {
    --card-horizontal-padding: 30px;
    --card-vertical-padding: 15px;
    --card-logo-width: 8rem;
    position: absolute;
    bottom: calc( -0.5 * var(--hero-diagonal-offset) - 0.15 * var(--card-logo-width) - 0rem - 2 * var(--card-vertical-padding));
    left: 0;
    width: 100%;
    z-index: 3;
    #header-bottom-card-content {
        // Height: 2.07rem + 1rem + 2*var(--card-vertical-padding)
        background-color: #ffffff;
        text-align: center;
        max-width: 70%;
        width: calc(var(--card-logo-width) + 2 * var(--card-horizontal-padding));
        margin: 0 auto;
        padding: var(--card-vertical-padding) var(--card-horizontal-padding);
        box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        img {
            width: var(--card-logo-width);
        }
    }
}

#background-particles {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#header-bottom-card {
    --card-horizontal-padding: 30px;
    --card-vertical-padding: 15px;
    --card-logo-width: 8rem;
    position: absolute;
    bottom: calc( -0.5 * var(--hero-diagonal-offset) - 0.15 * var(--card-logo-width) - 0rem - 2 * var(--card-vertical-padding));
    left: 0;
    width: 100%;
    z-index: 3;
    #header-bottom-card-content {
        // Height: 2.07rem + 1rem + 2*var(--card-vertical-padding)
        background-color: #ffffff;
        text-align: center;
        max-width: 70%;
        width: calc(var(--card-logo-width) + 2 * var(--card-horizontal-padding));
        margin: 0 auto;
        padding: var(--card-vertical-padding) var(--card-horizontal-padding);
        box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        img {
            width: var(--card-logo-width);
        }
        p {
            font-size: 0.6rem;
            margin-bottom: 0.4rem;
            font-weight: 700;
            line-height: 1rem;
            color: #0000009d;
            letter-spacing: 0.02rem;
        }
    }
}


/** End Sections **/

#header-logo {
    -webkit-animation: rotation 1.5s ease-out;
    animation: rotation 1.5s ease-out;
    width: 200px;
}

#top-menu {
    font-family: var(--title-font);
    font-weight: 400;
    padding: 0.8rem;
    margin-right: 110px;
    section {
        a {
            text-decoration: none;
            color: black;
            height: 100%;
            vertical-align: middle;
            display: inline-block;
            &>#logo {
                width: 4rem;
                height: 4rem;
                background-size: cover;
                margin: 0 -0.3rem -0.7rem 0;
                display: inline-block;
                &:hover {
                    opacity: 0.8;
                }
            }
            &.navbar-brand {
                font-size: 1.3rem;
                position: relative;
                line-height: 4rem;
            }
            &.options {
                position: relative;
                top: 40%;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            &:hover {
                text-decoration: underline;
                opacity: 0.8;
            }
            &:focus {
                border: none;
                outline: 0;
            }
        }
    }
    .section-menu {
        display: none;
    }
    .popover>.btn.btn.btn-primary {
        background-color: white;
        border-color: black;
        color: black;
    }
    .popover-container {
        width: 150px;
        z-index: 2;
    }
    @media only screen and (max-width: 800px) {
        .navbar-brand {
            display: none;
        }
        .section-full {
            display: none;
        }
        .section-menu {
            display: block;
        }
    }
}

#copyright {
    color: #a9b4c6;
    font-family: "Courier";
    text-align: right;
    font-size: 0.6rem;
    margin-top: -0.3rem;
    padding: 0.8rem;
}

.intro-subtitle {
    margin-top: 3rem;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

.apply-button {
    border-radius: 2px;
    padding: 5px 15px;
    background-color: transparent;
    border: black;
    border-width: 1px;
    border-style: solid;
    display: block;
    margin: 5px auto;
    transition: color 0.2s;
    transition: background-color 0.2s;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
}

.env-banner {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 4px;
    color: white;
    font-weight: 700;
    font-size: 0.5rem;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

#register-button {
    width: 25rem;
    max-width: 90%;
    background-color: #ffffff75;
    padding: 0.75rem 1.5rem;
    border-color: #121212ba;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    animation: background-color 2s;
    cursor: pointer;
    display: block;
    margin: 2rem auto 0;
    &:hover {
        background-color: #ffffff;
    }
}

.legal-text {
    text-align: center;
    font-family: var(--title-font);
    margin-top: 2rem;
}

.title-text {
    font-family: var(--title-font);
    margin-top: 2rem;
}

.sponsor-tier-title {
    font-family: var(--title-font);
    text-align: center;
    margin-top: 2rem;
}

.sponsors-container {
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: center;
    .item {
        max-height: 200px;
        padding: 0.5rem 1rem;
        display: inline-block;
        @media screen and (min-width: 800px) {
            width: 33%;
        }
        @media screen and (min-width: 600px) and (max-width: 800px) {
            width: 33%;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        div,
        span,
        p,
        img {
            max-width: 100%;
            max-height: 3rem;
            border-radius: 2px;
            margin-bottom: 1rem;
            vertical-align: middle;
        }
    }
}


/** Animations **/

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes rotation {
    0% {
        transform: rotate3d(5, 1, 0, 60deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate3d(5, 1, 0, 0deg);
        opacity: 1;
    }
}
